@import "normalize";
@import "swiper.min";
@import "fonts";
@import "vars";
@import "header";
@import "hero";
@import "apps";
@import "how";
@import "download";
@import "footer";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: $font;
	color: #1B1B1B;
	margin: 0;
	padding: 0;
}
img{
	width: 100%;
	line-height: 0;
	max-width: 100%;
}
.line{
	border: 3px solid #E4E4E4;
	max-width: 885px;
	margin: 10px auto;
}
.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}
@media (max-width: 1024px){
	.container{
		width: 100%;
		padding: 0 15px;
	}
}

.buttons{
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	background:transparent;
	border: 1px solid $white;
	width: 230px;
	padding: 15px 0;
	border-radius: 30px;
	color: $white;
	text-decoration: none;
	transition: $trans;
	text-align: center;
	&:hover{
		background:$red;
		border-color: $red;
	}
}
@media screen and (max-width:525px) {
	.buttons{
		font-size: 18px;
	}
}

